{% extends "base.html.twig" %}

{% block title %}
	JoBoard - Edit
{% endblock %}

{% block main %}
	<div class="container">
		<h1 class="mt-4">Edit your profile</h1>
		{{ form(form) }}
	</div>
{% endblock %}